<ion-header>
  <ion-toolbar>
    <ion-title>
      Credai
    </ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content> 
  <p text-align="center"> Credai Mobile Application</p>
  <form [formGroup]="login" (ngSubmit)="logForm()"> 
     <ion-item>
       <ion-label position="stacked">User Name</ion-label>
       <ion-input type="type" formControlName="username"></ion-input>
     </ion-item>
     <ion-item>
       <ion-label position="stacked">Mobile Number</ion-label>
       <ion-input type="text" formControlName="mobile"></ion-input>
     </ion-item>
     <button ion-button type="submit" [disabled]="!login.valid">Submit</button> 
  </form>
</ion-content>
